
a,p { color: #484848; font-size: 16px; line-height: 22px; }
a { color: #bf3d3d; font-weight: 700; }

a:link { font-weight:bold; color:#bf3d3d; text-decoration:none; }
a:visited { font-weight:bold; color:#bf3d3d; text-decoration:none; }
a:focus { font-weight:bold; color:#bf3d3d; text-decoration:underline; }
a:hover { font-weight:bold; color:#bf3d3d; text-decoration:underline; }
a:active { font-weight:bold; color:#bf3d3d; text-decoration:underline; }
h1 {font-size:24px;color:#484848;}
h2 {font-size:18px;color:#484848;}
h3 {font-style:italic;font-weight:normal;font-size:16px;color:#484848;}

ul { list-style: square; list-style-position: inside; }
ol { list-style: decimal; list-style-position: inside; }

#content ul, #content ol { padding-bottom: 20px; padding-left: 10px; }
#content p { padding-bottom: 20px; }

/*li { padding-left: 20px; }*/
