#list {
    margin-top: .5rem;
    padding: .5rem;
    overflow: auto;
    scroll-snap-points-y: repeat(100px);
}

#initials {
    padding: .5rem;
    border-bottom: 1px solid gray;
}

#list input {
    background-color: beige;
    border: 1.5px solid gray;
    padding: 2px 2px;
}

#clipboardText {
    font-family: monospace;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
}

a[href]:hover {
    text-decoration: underline;
}

.done {
    background-color: rgb(206, 247, 206);
}

.highlight {
    border: 1px solid dimgray !important;
}

span {
    padding: 2px 2px;
}

.entry:hover .clip {
    visibility: visible;
}

.clip {
    display: inline-block;
    visibility: hidden;
    width: 35px;
}

.korr {
    display: inline-block;
    width: 30px;
}

.lemma, .beleg {
    display: inline-block;
    width: 150px;
}

.lemma:empty:before {
    content: "\200b";
}

.link, .db {
    display: inline-block;
    width: 75px;
}

button {
    margin: .25rem .25rem;
}

button.active {
    font-weight: bold;
}

button.complete {
    background-color: rgb(206, 247, 206);
}

.entry {
    white-space: nowrap;
    margin-bottom: 2px;
    line-height: 20px;
} 

.lemma {
    /*background-color: rgb(248, 249, 250);*/
    border: 1px solid transparent;
}

/*div.lemma:hover {
    border: 1px solid gray
}*/