<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app metadata-complete="true" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Nomen et Gens</display-name>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AjaxServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.AjaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxServlet</servlet-name>
        <url-pattern>/ajax</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EinzelbelegServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.EinzelbelegServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EinzelbelegServlet</servlet-name>
        <url-pattern>/gast/einzelbeleg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PersonServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.PersonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonServlet</servlet-name>
        <url-pattern>/gast/person</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.RedirectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern>/id/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SucheServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.SucheServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SucheServlet</servlet-name>
        <url-pattern>/gast/einfaches_ergebnis</url-pattern>
    </servlet-mapping>
    <!-- Erweiterte Suche Frontend-->
    <servlet>
        <servlet-name>FrontendErweiterteSucheServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.ErweiterteSucheServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontendErweiterteSucheServlet</servlet-name>
        <url-pattern>/gast/freie_suche</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FrontendErweiterteSucheErgebnisServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.ErweiterteSucheErgebnisServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontendErweiterteSucheErgebnisServlet</servlet-name>
        <url-pattern>/gast/suchergebnis</url-pattern>
    </servlet-mapping>
    <!-- Ende Erweiterte Suche Frontend-->
    <servlet>
        <servlet-name>NamenServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.NamenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NamenServlet</servlet-name>
        <url-pattern>/gast/mghlemma</url-pattern>
        <url-pattern>/gast/namenkommentar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QuelleServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.QuelleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuelleServlet</servlet-name>
        <url-pattern>/gast/quelle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HilfeServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.HilfeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HilfeServlet</servlet-name>
        <url-pattern>/gast/hilfe</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StartseiteServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.StartseiteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartseiteServlet</servlet-name>
        <url-pattern>/gast/startseite</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ImpressumServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.ImpressumServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImpressumServlet</servlet-name>
        <url-pattern>/gast/impressum</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ZieleServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.ZieleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ZieleServlet</servlet-name>
        <url-pattern>/gast/ziele</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DatenbankServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.DatenbankServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DatenbankServlet</servlet-name>
        <url-pattern>/gast/datenbank</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QuellenlisteServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.QuellenlisteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuellenlisteServlet</servlet-name>
        <url-pattern>/gast/quellenliste</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TagungenServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.TagungenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TagungenServlet</servlet-name>
        <url-pattern>/gast/tagungen</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MitgliederServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.MitgliederServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MitgliederServlet</servlet-name>
        <url-pattern>/gast/mitglieder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProjekteServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.ProjekteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProjekteServlet</servlet-name>
        <url-pattern>/gast/projekte</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PublikationenServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.PublikationenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PublikationenServlet</servlet-name>
        <url-pattern>/gast/publikationen</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EinstellungenServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.EinstellungenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EinstellungenServlet</servlet-name>
        <url-pattern>/einstellungen</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MghLemmaServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.MghLemmaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MghLemmaServlet</servlet-name>
        <url-pattern>/mghlemma</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendEinzelbelegServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.EinzelbelegServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendEinzelbelegServlet</servlet-name>
        <url-pattern>/einzelbeleg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendEinzelbelegCompServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.EinzelbelegCompServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendEinzelbelegCompServlet</servlet-name>
        <url-pattern>/einzelbeleg_comp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendNamenkommentarServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.NamenkommentarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendNamenkommentarServlet</servlet-name>
        <url-pattern>/namenkommentar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendPersonServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.PersonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendPersonServlet</servlet-name>
        <url-pattern>/person</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendBerechneDateiSpracheServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.BerechneDateiSpracheServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendBerechneDateiSpracheServlet</servlet-name>
        <url-pattern>/berechne</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendEditionServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.EditionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendEditionServlet</servlet-name>
        <url-pattern>/edition</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendAdminServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.AdministrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendAdminServlet</servlet-name>
        <url-pattern>/administration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendAdminAuswahlServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.AdministrationAuswahlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendAdminAuswahlServlet</servlet-name>
        <url-pattern>/admin-auswahlfelder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendOhneVerknuepfungServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.OhneVerknuepfungServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendOhneVerknuepfungServlet</servlet-name>
        <url-pattern>/ohneVerknuepfung</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendHandschriftServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.HandschriftServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendHandschriftServlet</servlet-name>
        <url-pattern>/handschrift</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendSucheServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.SucheServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendSucheServlet</servlet-name>
        <url-pattern>/suche</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendLogoutServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendLogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendFreieSucheServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.FreieSucheServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendFreieSucheServlet</servlet-name>
        <url-pattern>/freie_suche</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendFreieSucheErgebnisServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.FreieSucheErgebnisServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendFreieSucheErgebnisServlet</servlet-name>
        <url-pattern>/suchergebnis</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendQuelleServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.QuelleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendQuelleServlet</servlet-name>
        <url-pattern>/quelle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendAdministrationBaumstrukturServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.AdministrationBaumstrukturServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendAdministrationBaumstrukturServlet</servlet-name>
        <url-pattern>/admin-baumstruktur</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewPasswordServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.NewPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewPasswordServlet</servlet-name>
        <url-pattern>/newPassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowContentServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.ShowContentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowContentServlet</servlet-name>
        <url-pattern>/content</url-pattern>
        <url-pattern>/gast/content</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContentServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.ContentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContentServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
        <url-pattern>/file</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    <error-page>
        <location>/gast/servlet/error.jsp</location>
    </error-page>
    <listener>
        <listener-class>de.uni_tuebingen.ub.nppm.util.ContextListener</listener-class>
    </listener>
</web-app>
